/*.tab-container {
    display: flex;
}

.tab-container button {
	max-width: 30%;
    min-width: 10%;
    padding: 10px;
    margin: 0 5px 0 5px;
}

.container {

}

.app {
    margin-right: 10px;
    margin-left: 10px;
}

#editing, #highlighting {
  margin: 10px;
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  height: 150px;
}

#editing, #highlighting, #highlighting * {
  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
}

#editing, #highlighting {
  position: fixed;
  top: 30%;
  left: 0;
}

#editing {
    z-index: 1;
    outline: none;
  color: transparent;
  background: transparent;
  caret-color: black;
  resize: none;
  left: 25px;
  overflow: hidden;
}

#highlighting {
    border: black; 
}*/

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.ControlsBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.PanelsBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin-top: 20px;
}